In [ ]:
#zip

In [11]:
students = ["JOHN","MARIA","VENESSA","SEZEN"]

In [12]:
departments = ["mathematics", "statistics","physics","astronomy"]

In [13]:
ages =[23, 30, 26, 22]

In [14]:
list(zip(students,departments,ages))

[('JOHN', 'mathematics', 23),
 ('MARIA', 'statistics', 30),
 ('VENESSA', 'physics', 26),
 ('SEZEN', 'astronomy', 22)]

In [21]:
#lamda,reduce,filter
def summer(a, b):
    return a+b
summer(1, 3)*9

new_sum = lambda a, b:a+b
new_sum(4, 5)

9

In [23]:
#map
salaries = [5000,2000,6000,7050]
def new_salary(x):
    return x * 20/100 +x
new_salary(2000)

2400.0

In [25]:
for salary in salaries:
    print(new_salary(salary))

6000.0
2400.0
7200.0
8460.0

In [26]:
list(map(new_salary, salaries))

[6000.0, 2400.0, 7200.0, 8460.0]

In [27]:
del new_sum

In [28]:
list(map(lambda x: x*20/100 +x, salaries))

[6000.0, 2400.0, 7200.0, 8460.0]

In [31]:
#filter
list_store = [1,2,3,4,5,6,7,8,9,10]
list(filter(lambda x: x%2 == 0, list_store))

[2, 4, 6, 8, 10]

In [32]:
#reduce: indirgemek
from functools import reduce
list_store = [1,2,3,4]
reduce(lambda a,b :a+b ,list_store)

10

In [38]:
wages =[10,20,30,40,50]

new_wages =[]



for wage in wages:

    if wage<40:

        new_w= wage * 1.10

        new_wages.append(new_w)

    else:

        new_wages.append(wage)

print(new_wages)

[11.0, 22.0, 33.0, 40, 50]

In [45]:
wages =[700,800,900,100]
[wages*1.1 if wage>950 else wage *1.2 for wage in wages]

[840.0, 960.0, 1080.0, 120.0]

In [48]:
city_name = ["London", "Paris", "Berlin"]

def plate(cities):

    for index, city in enumerate(cities, 1): print(f" {index} {city}")

plate(city_name)

 1 London
 2 Paris
 3 Berlin